body{
    background-color: #FFCB9A;
}

h1{
    text-align:center;
    padding-top:20px;
    border-style:solid;
    border-width:10px;
}

.card-2{
   margin: 0 auto;
}

.d-block{
    height:10;
    width:
    border-style: solid;
    
}

.Device{
    width:100%;
    height:auto;
    
}


#Device{
     display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}


.carousel slide{
    height:300px;
}

.spacing{
    margin-top:50px;
    margin-bottom:50px;
}

.spacing2{
     margin-top:50px;
    

}

.spacing3{
   
    margin-bottom:50px;
}


.Context{
    margin-top:25px;
    margin-bottom:25px;
}



